.mainButton{
    background-color: #fada48;
    border: 1px solid black;
    font-weight: bold;
    border-radius: 15px;
    padding: 10px 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mainButton:hover{
    background-color: #e6d797;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mainButtonPressed{
    background-color: #e6d797;
    border: 1px solid black;
    font-weight: bold;
    border-radius: 15px;
    padding: 10px 20px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}