@import "../custom-bootstrap.scss";

.boxBodyRow > * {
  margin: 0% 4% 0% 4%;
}

.rangeSlider {
  width: 60%;
  margin: 0% 4% 0% 4%;
}

.gap {
  margin: 2% 0% 0% 0%;
}

.recBtn {
  @extend .btn;
  font-size: 0.75em; 
}