@import "../custom-bootstrap.scss";

.boxBodyRow > * {
  margin: 0% 4% 0% 4%;
}

.rangeSlider {
  width: 60%;
  margin: 0% 4% 0% 4%;
}

.gap {
  margin: 2% 0% 2% 0%;
}

.recBtn {
  @extend .btn;
  font-size: small
}

.recBtn.selected {
  background-color: #ffcc00; // Bootstrap primary color
  color: black;
  border-color: #b39200; // A darker shade of the primary color
}
