// Define Custom Colors here
$current-plot-color: rgb(255, 204, 0);
$current-plot-color-light:  rgba(255, 204, 0, 0.2);

$predicted-plot-color: rgb(204, 0, 255);
$predicted-plot-color-light: rgba(204, 0, 255, 0.2);

$recommended-plot-color: rgb(0, 255, 204);
$recommended-plot-color-light: rgb(0, 255, 204, 0.2);

// Define Bootstrap Variables here
$primary: #fada48;
// $secondary: #your-secondary-color;

// export vars
:export {
  currentPlotColor: $current-plot-color;
  currentPlotColorLight: $current-plot-color-light;
  predictedPlotColor: $predicted-plot-color;
  predictedPlotColorLight: $predicted-plot-color-light;
  recommendedPlotColor: $recommended-plot-color;
  recommendedPlotColorLight: $recommended-plot-color-light;
  primary: $primary;
  // secondary: $secondary;
}